/data
/gldv2_training
/rrt_gld_ckpts
/outputs
/logs
/parameters
/.ipynb_checkpoints
/outputs
/models/__pycache__
/tools/__pycache__
/utils/__pycache__
/utils/*/__pycache__
/utils/data/delf/__pycache__
/utils/data/delf/protos/__pycache__
*.sh
*.ipynb
*.png
*.txt
*.pkl
*.json